#content{
    height:100%;
    width: 1120px;
    margin: auto;
}

#sub_menu{ height: 140px; margin-top: 60px;}
#sub_menu a {
	text-decoration: none;
	color: black;
}

#sub_menu>ul{
    width: 100%;
	padding: 0;
	margin: auto;
	text-align: center;
	margin-bottom: 60px;
}

#sub_menu>ul>li {
	display: inline-block;
	box-sizing: border-box;
	margin-right: 40px;
}
#sub_menu>ul li:nth-child(1){
    font-size: 20px;
}
#sub_menu>ul li:nth-child(2){
    font-size: 48px;
    font-weight: 400px;
	
}
#sub_menu>ul li:nth-child(3){
	font-size: 20px;
}
#sub_menu>ul li:nth-child(4){
	font-size: 20px;
    margin-right: 0;
}


#title{
    font-weight: 400;
    font-size:48px;
    text-align: center;
    margin-top: 120px;
}
#product{
    height: 100%;
    width: 100%;
      
}
#product #p1{
    background: rgb(227, 233, 255);
    padding: 0;
    margin: 0;
    padding: 5px 0 5px 20px;
    font-size:30px;
    font-weight: 400;
    border-bottom: 1px solid rgb(105,140,255);
}
#bhead{
    padding:0;
    width: 1120px;
    height: 40px;
    margin:auto;
    background:rgb(245,245,245);
}
#bhead li{
    list-style: none;
    float: left;
    font-size:18px;
    margin-top:6px;
}
#bhead li:nth-child(1){
    width:55%;
    text-align: center;
    margin-left:20px ;

}
#bhead li:nth-child(2){
    width:10%;
    margin-left: 40px;
}
#bhead li:nth-child(3){
    width:10%;
    margin-left: 40px;
}
#bhead li:nth-child(4){
    width:10%;
    margin-left: 40px;
}

#list{
    height: 200px;
    width: 100%;
    padding:0;
    border-bottom: 1px solid #ccc;
}
#list li{
    list-style: none;
    float: left;
    font-size:18px;
}
#list li:nth-child(1){
    width: 55%;
    margin: 5px 0 0 20px;
}

#list li:nth-child(1) img{
    width: 130px;
    height: 170px;
    float: left;
    margin-right: 40px;
}
#list li a{
    text-decoration: none;
    color: black;
}
#list li:nth-child(1) p{
    margin-top:70px;
}

#list li:nth-child(2){
    width: 10%;
    margin:75px 0 0 23px;
}
#list li:nth-child(3){
    width: 5%;
    margin:75px 0 0 70px;
}
#list li:nth-child(4){
    width: 10%;
    margin:75px 0 0 65px;
}


/***************************************************************************************/


#price{
    margin:60px 0 60px 0;
    height: 150px;
    width: 100%;
    border-radius: 25px;
    border:1px solid #ccc;
    box-sizing: border-box;
    position: relative;
}
#price #p_price{
    width: 30%;
    height: 100%;
    float: left;
    background: white;
    border-radius: 25px;
    margin: auto;
    text-align: center;
}
#price #p_price p{
    width: 100%;
    text-align:center;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    margin-top: 40px;
}
#price #p_price #p_p1{
    font-size: 30px;
    font-weight: 200;
    border:0;
    margin: 0;
}
#price #fee{
    width: 30%;
    height: 100%;
    float: left;
    background: rgb(245,245,245);
}

#price #fee p{
    width: 100%;
    text-align:center;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    margin-top: 40px;
}
#price #fee #p_p1{
    font-size: 30px;
    font-weight: 200;
    border:0;
    margin: 0;
}
#price #total{
    background: rgb(227, 233, 255);
    width: 40%;
    height: 100%;
    border-radius: 25px;
    float: right;
}
#total #line{
    width: 20px;
    height: 100%;
    background: rgb(227, 233, 255);
    float: left;
}
#total #total_fee p{
    width: 100%;
    text-align:center;
    font-weight: 600;
    font-size: 22px;
    margin: 0;
    margin-top: 40px;
}

#total #total_fee #p_p1{
    font-size: 30px;
    color: rgb(105,140,255);
    border:0;
    padding: 0;
    margin: 0;
}

#price #plus{
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 318px;
}

#price #imgtotal{
    position: absolute;
    z-index: 100;
    top: 60px;
    left: 653px;

}
/***************************************************************************************/

#userinfo{
    width: 100%;
    height: 450px;
    border-bottom: 1px solid #ccc;
    margin-bottom: 60px;
}

#userinfo #p1{
    background: rgb(227, 233, 255);
    padding: 0;
    margin: 0;
    padding: 5px 0 5px 20px;
    font-size:30px;
    font-weight: 400;
    border-bottom: 1px solid rgb(105,140,255);
}

#useraddress{
    float: left;
    border-right: 1px solid #ccc;
    height: 400px;
    width: 49.5%;
}

#subtitle{
    font-size: 22px;
    margin-left: 20px;
    border-left: 5px solid rgb(105,140,255);
}

.underlineTable{
    width:100%;  
  }
  
  .content .underlineTable{
      margin-left:auto;
      margin-right: auto;
  }
  
  .underlineTable tr {
      width: 300px;
      height: 50px; 
      border-bottom: 1px solid #ccc;
      }

  .underlineTable tr td{
      border-top: 1px solid #ccc;
  }
  
  .underlineTable td:nth-child(1){
      text-align: center;
  }
  
  input:focus {outline:none;}
  
  .nonInput{
      color:#808080;
      background: none;
      border:none;
  }
  
  .underlineTable tr td span > .form-control{
      display: inline;
      width:50%;
      height:20px;
      border:1px solid #ccc;
  }

  td p{
      font-size: 14px;
      margin: 0;
      margin-top: 5px;
    
  }
  #tel1{
      border:1px solid #ccc;
      width: 60px;
      height: 30px;
    }
  #tel2{
        border:1px solid #ccc;
        width: 200px;
        height: 28px;
    }
#newadd{
    width: 50%;
    float:left;
}

.underlineTable2 tr {
    width: 400px;
    height: 47px; 
    }
.underlineTable2{
   width: 100%;
   padding-left: 40px;
}

.underlineTable2 tr td span > .form-control{
    display: inline;
    height:30px;
    border:1px solid #ccc;
    width: 220px;
    
}
.underlineTable2 .btn{
    background: rgb(227, 233, 255);
    border: 0;
    border-radius: 7px;
    width: 80px;
    height: 30px;
    margin-left: 10px;
}


/**************************************************************************/
section{display: none; width: 100%; height: 100%;}

#pay{
    width: 100%;
    border-bottom: 1px solid #ccc;
    height: 400px;
    margin-bottom: 120px;
}

#pay #p1{
    background: rgb(227, 233, 255);
    padding: 0;
    margin: 0;
    padding: 5px 0 5px 20px;
    font-size:30px;
    font-weight: 400;
    border-bottom: 1px solid rgb(105,140,255);
}
#paymethod{
    width: 50%;
    float: left;
    border-right: 1px solid #ccc;
}


#paycheck #sub{
    padding:0;
    font-size: 20px;
    padding:50px 30px 50px 30px;
    float: left;
    background: rgb(245,245,245);
    margin: 0;
}
#paycheck input{
    margin: 33px 20px 0 20px;
}

#detail{ 
    width: 100%;
    height: 220px;
    margin-top: 28px;
    border-top: 1px solid #ccc;
}
#detail #sub{
    padding:0;
    font-size: 20px;
    padding:20px 30px 173px 30px;
    float: left;
    background: rgb(245,245,245);
    margin: 0;
}
#card{
    margin: 13px 0 0 30px;
    padding: 10px ;
    width: 200px;
    height: 40px;
    border:1px solid #ccc;
}

#detail #info{
    margin-left: 170px;
    font-size: 14px;
    color: gray;
}

#way1{
    width: 100%;
    height: 100%;
}

#op1:checked ~ #way1,
#op2:checked ~ #way2,
#op3:checked ~ #way3,
#op4:checked ~ #way4,
#op5:checked ~ #way5{display: block;}

#detail #sub1{
    padding:0;
    font-size: 20px;
    padding:20px 20px 173px 20px;
    float: left;
    background: rgb(245,245,245);
    margin: 0;
}

#payment{
   width: 49.5%;
   height: 100%;
   float: left;
}
#payment p{
    text-align: center;
    margin-top: 12px;
}
#payment #paytotal{
    height: 80px;
    background: rgb(227, 233, 255);
}
#payment #paytotal p{
    padding:0;
    font-size: 28px;
    padding-top:20px;
    text-align: center;
    color: rgb(105,140,255);
}
#payment #agree{
    margin-left: 220px;
}
#payment #paybtn{
    width: 200px;
    height: 50px;
    border:0;
    border-radius: 10px;
    background: rgb(105,140,255);
    font-size: 28px;
    color: white;
    margin: 40px 0 0 175px;

}

